<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set default logging level to ERROR -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Allow INFO logs for com.esports.Main -->
    <logger name="com.esports.Main" level="INFO" />

    <!-- Suppress the "HHH" prefixed Hibernate logs -->
    <logger name="org.hibernate" level="OFF" />

    <!-- Suppress Spring logs -->
    <logger name="org.springframework" level="OFF" />
</configuration>

